// =================
// TYPOGRAPHY
// =================

$body-font: 'Oswald', sans-serif;


// =================
// COLORS
// =================

$black: #080808;
$brown: #640303;
$board: #fafaf8;
$dark-purple: #5e3577;
$light-blue: #d2eaf5;
$purple: #b02f7c;
$orange: #fa811d;
$red: #f50c2b;
$yellow: #ffed20;
$green: #41994e;
$dark-blue: #5a6dba;
$test: #f5d2d2;


// =================
// GLOBAL
// =================

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    //background-image: url("https://i.pinimg.com/originals/a4/73/cd/a473cda6c0a58d9b2e2bc2292d16c334.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 100px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


// Property colors

.dark-purple {
    background: $dark-purple;
}

.light-blue {
    background: $light-blue;
}

.purple {
    background: $purple;
}

.orange {
    background: $orange;
}

.red {
    background: $red;
}

.yellow {
    background: $yellow;
}

.green {
    background: $green;
}

.dark-blue {
    background: $dark-blue;
}


// =================
// LAYOUT
// =================

// Table and board

.table {
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.board {
    display: grid;
    grid-template-columns: 125px repeat(9, 80px) 125px;
    grid-template-rows: 125px repeat(9, 80px) 125px;
    grid-gap: 2px;
    margin: 50px auto;
    width: 994px;
    height: 994px;
    background: $black;
    //border: 2px solid $black;
    justify-content: center;
    background-color: white;
    //text-transform: uppercase;
    font-family: $body-font;
    font-weight: 400;
    font-size: 10px;
    color: $black;
}

.station-top-fix {
    margin-top: 40px;
}

.question {

    border: 2px solid $black;
}

.here {
    padding: 3px;
    background: aqua;
    border-radius: 100px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.owner {
    padding: 3px;
    background: white;
    border-radius: 100px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.center {
    grid-column: 2 / 11;
    grid-row: 2 / 11;
    background: $board;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

.title {
    transform: rotate(-30deg);
    width: 50%;
    grid-column: 1 / 9;
    grid-row: 4;
    //font-size: 90px;
    //font-weight: 400;
    //letter-spacing: 12px;
}

.community-chest-deck {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    transform: rotate(135deg);
    margin-bottom: 60px;
    margin-right: 60px;
}

.chance-deck {
    grid-column: 5 / 7;
    grid-row: 5 / 7;
    transform: rotate(315deg);
    margin-top: 60px;
    margin-left: 60px;
}

.label {
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

.deck {
    border: 2px dashed $black;
    width: 160px;
    height: 120px;
}


// Rows of spaces

.row {
    display: grid;
    grid-gap: 2px;
}

.horizontal-row {
    grid-template-columns: repeat(9, 80px);
    grid-template-rows: 125px;
}

.vertical-row {
    grid-template-columns: 125px;
    grid-template-rows: repeat(9, 80px);

    .container {
        top: 50%;
        left: 50%;
        border: 2px solid $black;
    }
}

.bottom-row {
    grid-column: 2 / 11;
    grid-row: 11;

    .container {
        border: 2px solid $black;
    }
}

.left-row {
    grid-column: 1;
    grid-row: 2 / 11;

    .container {
        transform: translate(-50%, -50%) rotate(90deg);
        border: 2px solid $black;

    }
}

.top-row {
    grid-column: 2 / 11;
    grid-row: 1;

    .container {
        transform: rotate(180deg);
        border: 2px solid $black;

    }
}

.right-row {
    grid-column: 11;
    grid-row: 2 / 11;

    .container {
        transform: translate(-50%, -50%) rotate(270deg);
        border: 2px solid $black;

    }
}


// =================
// SPACES
// =================

// Types of spaces

.space {
    background: $board;
    text-align: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        transform-origin: center;
        height: 125px;
        width: 80px;
    }

    .name,
    .instructions {
        //padding-left: 15px;
        //padding-right: 15px;
        text-align: center;
    }

    .price {
        font-size: 7px;
        font-weight: 400;
        padding-bottom: 5px;
    }
}

.corner {
    border: 2px solid $black;

    .container {
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    .name {
        padding: 0;
    }
}

.station {
    .color-bar {
        height: 25px;
        border-bottom: 2px solid $black;
        background-color: black;
    }
}

.voorziening {
    .color-bar {
        height: 25px;
        border-bottom: 2px solid $black;
        background-color: black;
    }
}

.property {
    .color-bar {
        height: 25px;
        border-bottom: 2px solid $black;
    }

    //.name {
    //    padding-bottom: 50px;
    //}
}

.other {
    .name {
        //padding-top: 10px;
    }

    .drawing {
        font-size: 60px;
        color: $black;
    }

    .instructions {
        font-size: 8px;
    }
}

// Specific spaces

.go {
    grid-column: 11;
    grid-row: 11 / 12;
    position: relative;

    .container {
        justify-content: flex-start;
        transform: rotate(315deg);
    }

    .instructions {
        padding: 0 30px;
    }

    .go-word {
        font-size: 60px;
        color: $red;
        margin-top: 30px;
        margin-right: -20px;
    }

    .arrow {
        font-size: 45px;
        color: $red;
        position: absolute;
        bottom: -10px;
        left: 5px;
    }
}

.jail {
    grid-column: 1;
    grid-row: 11 / 12;
    display: grid;
    grid-template-columns: repeat(10, 12.5px);
    grid-template-rows: repeat(10, 12.5px);
    justify-content: center;
    align-items: center;

    .drawing {
        grid-column: 4 / 11;
        grid-row: 1 / 8;
        width: 87.5px;
        height: 87.5px;
        background: $orange;
        border-bottom: 2px solid $black;
        border-left: 2px solid $black;
        border-right: 2px solid $black;
    }

    .just {
        grid-column: 3;
        grid-row: 4;
        transform: rotate(90deg);
        padding-top: 15px;
    }

    .visiting {
        grid-column: 6;
        grid-row: 8;
        padding-top: 5px;
        white-space: nowrap;
    }

    .container {
        align-items: center;
        transform: rotate(45deg);
    }

    .name {
        font-size: 7px;
    }

    .window {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 55px;
        height: 55px;
        background: $board;
        border: 2px solid $black;
    }

    .person {
        position: absolute;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 55px;
        height: 55px;
        top: 50%;
        left: 50%;
        font-size: 40px;
    }

    .bar {
        height: 55px;
        width: 2px;
        background: $black;
    }
}

.free-parking {
    grid-column: 1;
    grid-row: 1 / 2;

    .container {
        justify-content: center;
        //transform: rotate(135deg);

        .img {
            transform: translate(15%, 0%);
            height: 75%;
            width: 75%;
        }
    }

    .name {
        font-size: 16px;
    }

    .drawing {
        font-size: 55px;
        color: $red;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

.go-to-jail {
    grid-column: 11;
    grid-row: 1 / 1;

    .container {
        justify-content: center;
        //transform: rotate(225deg);
    }

    .name {
        font-size: 16px;
    }

    .drawing {
        font-size: 35px;
        color: $brown;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.chance {
    .container {
        justify-content: center;
    }

    .drawing {
        font-size: 90px;
        color: $red;
    }

    .blue {
        color: $dark-blue;
    }
}

.waterworks {
    .drawing {
        color: $dark-blue;
    }
}

.income-tax {
    .container {
        justify-content: center;
        align-items: center;
    }

    .name {
        padding-bottom: 5px;
    }

    .diamond {
        width: 5px;
        height: 5px;
        background: $black;
        transform: rotate(45deg);
        display: inline-block
    }

    .instructions {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.luxury-tax {
    .drawing {
        font-size: 50px;
    }

    .instructions {
        padding-bottom: 5px;
    }
}


// =================
// UTILITY
// =================

.long-name {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.three-line-name {
    position: relative;
    top: 5px;
}
