* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-position: center;
  background-repeat: repeat;
  background-size: 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.dark-purple {
  background: #5e3577;
}

.light-blue {
  background: #d2eaf5;
}

.purple {
  background: #b02f7c;
}

.orange {
  background: #fa811d;
}

.red {
  background: #f50c2b;
}

.yellow {
  background: #ffed20;
}

.green {
  background: #41994e;
}

.dark-blue {
  background: #5a6dba;
}

.table {
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.board {
  display: grid;
  grid-template-columns: 125px repeat(9, 80px) 125px;
  grid-template-rows: 125px repeat(9, 80px) 125px;
  grid-gap: 2px;
  margin: 50px auto;
  width: 994px;
  height: 994px;
  background: #080808;
  justify-content: center;
  background-color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #080808;
}

.station-top-fix {
  margin-top: 40px;
}

.question {
  border: 2px solid #080808;
}

.here {
  padding: 3px;
  background: aqua;
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.owner {
  padding: 3px;
  background: white;
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.center {
  grid-column: 2/11;
  grid-row: 2/11;
  background: #fafaf8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.title {
  transform: rotate(-30deg);
  width: 50%;
  grid-column: 1/9;
  grid-row: 4;
}

.community-chest-deck {
  grid-column: 2/4;
  grid-row: 2/4;
  transform: rotate(135deg);
  margin-bottom: 60px;
  margin-right: 60px;
}

.chance-deck {
  grid-column: 5/7;
  grid-row: 5/7;
  transform: rotate(315deg);
  margin-top: 60px;
  margin-left: 60px;
}

.label {
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

.deck {
  border: 2px dashed #080808;
  width: 160px;
  height: 120px;
}

.row {
  display: grid;
  grid-gap: 2px;
}

.horizontal-row {
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: 125px;
}

.vertical-row {
  grid-template-columns: 125px;
  grid-template-rows: repeat(9, 80px);
}
.vertical-row .container {
  top: 50%;
  left: 50%;
  border: 2px solid #080808;
}

.bottom-row {
  grid-column: 2/11;
  grid-row: 11;
}
.bottom-row .container {
  border: 2px solid #080808;
}

.left-row {
  grid-column: 1;
  grid-row: 2/11;
}
.left-row .container {
  transform: translate(-50%, -50%) rotate(90deg);
  border: 2px solid #080808;
}

.top-row {
  grid-column: 2/11;
  grid-row: 1;
}
.top-row .container {
  transform: rotate(180deg);
  border: 2px solid #080808;
}

.right-row {
  grid-column: 11;
  grid-row: 2/11;
}
.right-row .container {
  transform: translate(-50%, -50%) rotate(270deg);
  border: 2px solid #080808;
}

.space {
  background: #fafaf8;
  text-align: center;
}
.space .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transform-origin: center;
  height: 125px;
  width: 80px;
}
.space .name,
.space .instructions {
  text-align: center;
}
.space .price {
  font-size: 7px;
  font-weight: 400;
  padding-bottom: 5px;
}

.corner {
  border: 2px solid #080808;
}
.corner .container {
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.corner .name {
  padding: 0;
}

.station .color-bar {
  height: 25px;
  border-bottom: 2px solid #080808;
  background-color: black;
}

.voorziening .color-bar {
  height: 25px;
  border-bottom: 2px solid #080808;
  background-color: black;
}

.property .color-bar {
  height: 25px;
  border-bottom: 2px solid #080808;
}

.other .drawing {
  font-size: 60px;
  color: #080808;
}
.other .instructions {
  font-size: 8px;
}

.go {
  grid-column: 11;
  grid-row: 11/12;
  position: relative;
}
.go .container {
  justify-content: flex-start;
  transform: rotate(315deg);
}
.go .instructions {
  padding: 0 30px;
}
.go .go-word {
  font-size: 60px;
  color: #f50c2b;
  margin-top: 30px;
  margin-right: -20px;
}
.go .arrow {
  font-size: 45px;
  color: #f50c2b;
  position: absolute;
  bottom: -10px;
  left: 5px;
}

.jail {
  grid-column: 1;
  grid-row: 11/12;
  display: grid;
  grid-template-columns: repeat(10, 12.5px);
  grid-template-rows: repeat(10, 12.5px);
  justify-content: center;
  align-items: center;
}
.jail .drawing {
  grid-column: 4/11;
  grid-row: 1/8;
  width: 87.5px;
  height: 87.5px;
  background: #fa811d;
  border-bottom: 2px solid #080808;
  border-left: 2px solid #080808;
  border-right: 2px solid #080808;
}
.jail .just {
  grid-column: 3;
  grid-row: 4;
  transform: rotate(90deg);
  padding-top: 15px;
}
.jail .visiting {
  grid-column: 6;
  grid-row: 8;
  padding-top: 5px;
  white-space: nowrap;
}
.jail .container {
  align-items: center;
  transform: rotate(45deg);
}
.jail .name {
  font-size: 7px;
}
.jail .window {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 55px;
  height: 55px;
  background: #fafaf8;
  border: 2px solid #080808;
}
.jail .person {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 55px;
  height: 55px;
  top: 50%;
  left: 50%;
  font-size: 40px;
}
.jail .bar {
  height: 55px;
  width: 2px;
  background: #080808;
}

.free-parking {
  grid-column: 1;
  grid-row: 1/2;
}
.free-parking .container {
  justify-content: center;
}
.free-parking .container .img {
  transform: translate(15%, 0%);
  height: 75%;
  width: 75%;
}
.free-parking .name {
  font-size: 16px;
}
.free-parking .drawing {
  font-size: 55px;
  color: #f50c2b;
  padding-top: 2px;
  padding-bottom: 2px;
}

.go-to-jail {
  grid-column: 11;
  grid-row: 1/1;
}
.go-to-jail .container {
  justify-content: center;
}
.go-to-jail .name {
  font-size: 16px;
}
.go-to-jail .drawing {
  font-size: 35px;
  color: #640303;
  padding-top: 5px;
  padding-bottom: 5px;
}

.chance .container {
  justify-content: center;
}
.chance .drawing {
  font-size: 90px;
  color: #f50c2b;
}
.chance .blue {
  color: #5a6dba;
}

.waterworks .drawing {
  color: #5a6dba;
}

.income-tax .container {
  justify-content: center;
  align-items: center;
}
.income-tax .name {
  padding-bottom: 5px;
}
.income-tax .diamond {
  width: 5px;
  height: 5px;
  background: #080808;
  transform: rotate(45deg);
  display: inline-block;
}
.income-tax .instructions {
  padding-top: 5px;
  padding-bottom: 5px;
}

.luxury-tax .drawing {
  font-size: 50px;
}
.luxury-tax .instructions {
  padding-bottom: 5px;
}

.long-name {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.three-line-name {
  position: relative;
  top: 5px;
}
