::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(253, 230, 138);
    border-radius: 10px;
}


#main {
    display: grid;
    grid-template-columns: 6rem auto;
}

@media (min-width: 1200px) {
    #main { grid-template-columns: 12rem auto; }
}

a {
    text-decoration: none;
}

.pt-16 {
    padding-top: 4rem;
}

.top-full { top: 100%; }
.left-full { left: 100%; }

@media (min-width: 1200px) {
    .xl\:pin-none { left: auto; }
}

.group:hover .group-hover\:block {
    display: block;
}


