<template>
    <div class="board">
        <div class="center">
            <img class="title" src="img/logo-groot.png"/>
            <div class="h-40 w-60 p-2 border-2 border-black" v-for="answer in me.answers">
                <div v-if="answer.location_photo === null || answer.location_confirm == 0">
                    <p v-if="answer.location_confirm == 0">Onjuiste locatie, ga opzoek naar de juiste locatie en stuur
                        opnieuw een foto in!</p><br>
                    Upload een foto van de locatie <br><br>
                    <input :data-answer="answer.id" type="file" accept="image/*" @change="uploadLocation($event)">
                </div>
                <div v-else-if="answer.location_confirm === null">
                    Wachten op bevestiging van de locatie...
                </div>
                <div v-else-if="answer.location_confirm == 1 && answer.answer === null">
                    Beantwoord de vraag: <br> <b>{{ answer.question.question }}</b>

                    <form :data-answer="answer.id" @submit.prevent="submitAnswer($event)">
                        <input
                            class="w-full h-5 px-3 text-xs placeholder-gray-600 border rounded-lg focus:shadow-outline"
                            name="text" v-if="answer.question.type === 'text' || answer.question.type === 'both'">
                        <input name="photo" v-if="answer.question.type === 'photo' || answer.question.type === 'both'"
                               type="file" accept="image/*">
                        <br><br>
                        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                               type="submit" value="Verstuur" minlength="1">
                    </form>

                </div>
                <div v-else-if="answer.location_confirm == 1 && answer.answer !== null">
                    Wachten op beoordeling van de vraag...
                </div>
            </div>
        </div>

        <div class="space corner go">
            <div class="container">
                <div class="instructions"></div>
                <div class="go-word">GO</div>
                <div class="price">
                    <div v-for="(street, index) in places">
                        <div v-if="street.name === 'CORNER'" v-for="prop in street.properties">
                            <p v-if="prop.name === 'GO'" v-for="player in prop.active_players"
                               :class="{ here: me.id == player.id && player.property_id == prop.id}">
                                {{
                                    player.user.username
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow fa fa-long-arrow-left"></div>
        </div>

        <div class="row horizontal-row bottom-row">
            <div v-for="i in reverse(9)" class="space" :class="i !== 2 && i !== 5 && i !== 7 ? 'property' : 'other'">
                <div style="display: none">
                    {{ i }}
                    {{ street = i < 5 ? 0 : 1 }}
                    {{ property = i < 3 ? i - 1 : i < 5 ? i - 2 : i < 8 ? i - 6 : i - 7 }}
                </div>
                <div v-if="i !== 2 && i !== 5 && i !== 7" class="container">
                    <div class="color-bar" :style="{ background: places[street] ? places[street].color : '#000'}"><p
                        v-if="places[street].properties[property].player" class="owner">
                        {{ places[street].properties[property].player.user.username }}</p></div>
                    <div class="name">{{
                            places[street] ? places[street].properties[property] ? places[street].properties[property].name : 'Nog instellen' : 'Nog instellen'
                        }}
                    </div>
                    <div class="price"
                         v-if="places[street] !== undefined && places[street].properties[property] !== undefined">
                        <p v-for="player in places[street].properties[property].active_players"
                           :class="{ here: me.id == player.id && player.property_id == places[street].properties[property].id}">
                            {{
                                player.user.username
                            }}
                        </p>
                    </div>
                </div>
                <div v-if="i === 2">
                    <div class="container">
                        <div class="name">KANS</div>
                        <br>
                        <img style="height: 75px" src="/img/chance.svg"/>
                        <div class="price">
                            <div v-for="(street, index) in places">
                                <div v-if="street.name === 'Chance'" v-for="prop in street.properties">
                                    <p v-if="prop.name === 'Kans 1'" v-for="player in prop.active_players">
                                        {{
                                            player.user.username
                                        }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="i === 5" v-for="street in places">
                    <div v-if="street.name === 'Stations'" v-for="(prop, index) in street.properties">
                        <div v-if="index === 0" class="station container">
                            <div class="color-bar"><p>kut jesse
                                <!--                                v-if="places[street].properties[property].player" class="owner">-->
                                <!--                                {{ places[street].properties[property].player.user.username }}-->
                            </p></div>
                            <div class="name">{{ prop.name }}</div>
                            <i class="drawing fa fa-subway"></i>
                            <div class="price">
                                <p v-for="player in prop.active_players">
                                    {{
                                        player.user.username
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="i === 7">
                    <div class="container">
                        <div class="name">KANS</div>
                        <br>
                        <img style="height: 75px" src="/img/chance.svg"/>
                        <div class="price">
                            <div v-for="(street, index) in places">
                                <div v-if="street.name === 'Chance'" v-for="prop in street.properties">
                                    <p v-if="prop.name === 'Kans 2'" v-for="player in prop.active_players">
                                        {{
                                            player.user.username
                                        }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space corner jail">
            <div class="just">SLECHTS</div>
            <div class="drawing">
                <div class="container">
                    <div class="name">IN DE</div>
                    <div class="window">
                        <img class="person" src="/img/jail.svg"/>
                    </div>
                    <div class="name">GEVANGENIS</div>
                </div>
            </div>
            <div class="visiting">OP BEZOEK</div>
            <div class="price">
                <div v-for="(street, index) in places">
                    <div v-if="street.name === 'CORNER'" v-for="prop in street.properties">
                        <p v-if="prop.name === 'JAIL'" v-for="player in prop.active_players">
                            {{
                                player.user.username
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row vertical-row left-row">
            <div v-for="i in reverse(9)" class="space" :class="i !== 2 && i !== 5 && i !== 7 ? 'property' : 'other'">
                <div style="display: none">
                    {{ street = i < 5 ? 2 : 3 }}
                    {{ property = i < 3 ? i - 1 : i < 5 ? i - 2 : i < 8 ? i - 6 : i - 7 }}
                </div>
                <div v-if="i !== 2 && i !== 5 && i !== 7" class="container">
                    <div class="color-bar" :style="{ background: places[street] ? places[street].color : '#000'}"><p
                        v-if="places[street].properties[property].player" class="owner">
                        {{ places[street].properties[property].player.user.username }}</p></div>
                    <div class="name">{{
                            places[street] ? places[street].properties[property] ? places[street].properties[property].name : 'Nog instellen' : 'Nog instellen'
                        }}
                    </div>
                    <div class="price"
                         v-if="places[street] !== undefined && places[street].properties[property] !== undefined">
                        <p v-for="player in places[street].properties[property].active_players"
                           :class="{ here: me.id == player.id && player.property_id == places[street].properties[property].id}">
                            {{
                                player.user.username
                            }}
                        </p>
                    </div>
                </div>
                <div v-if="i === 7" class="container">
                    <div class="name">KANS</div>
                    <br>
                    <img style="height: 75px" src="/img/chance.svg"/>
                    <div class="price">
                        <div v-for="(street, index) in places">
                            <div v-if="street.name === 'Chance'" v-for="prop in street.properties">
                                <p v-if="prop.name === 'Kans 3'" v-for="player in prop.active_players">
                                    {{
                                        player.user.username
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="i === 5" v-for="street in places">
                    <div v-if="street.name === 'Stations'" v-for="(prop, index) in street.properties">
                        <div v-if="index === 1" class="station-top-fix station container">
                            <div class="color-bar"><p>kut jesse
                                <!--                                v-if="places[street].properties[property].player" class="owner">-->
                                <!--                                {{ places[street].properties[property].player.user.username }}-->
                            </p></div>
                            <div class="name">{{ prop.name }}</div>
                            <i class="drawing fa fa-subway"></i>
                            <div class="price">
                                <p v-for="player in prop.active_players">
                                    {{
                                        player.user.username
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div v-if="i === 2" class="container">-->
<!--                    <div class="name">Electric Company</div>-->
<!--                    <i class="drawing fa fa-lightbulb-o"></i>-->
<!--                    <div class="price">-->
<!--                        <div v-for="(street, index) in places">-->
<!--                            <div v-if="street.name === 'Voorziening'" v-for="prop in street.properties">-->
<!--                                <p v-if="prop.name === 'Elektra'" v-for="player in prop.active_players">-->
<!--                                    {{-->
<!--                                        player.user.username-->
<!--                                    }}-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div v-if="i === 2" v-for="street in places">
                    <div v-if="street.name === 'Voorziening'" v-for="(prop, index) in street.properties">
                        <div v-if="index === 0" class="station-top-fix voorziening container">
                            <div class="color-bar"><p>
                                <!--                                v-if="places[street].properties[property].player" class="owner">-->
                                <!--                                {{ places[street].properties[property].player.user.username }}-->
                            </p></div>
                            <div class="name">{{ prop.name }}</div>
                            <i class="drawing fa fa-lightbulb-o" style="color: #f5ed0f"></i>
                            <div class="price">
                                <p v-for="player in prop.active_players">
                                    {{
                                        player.user.username
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space corner free-parking">
            <div class="container">
                <img class="img" src="/img/car.svg"/>
                <div class="price">
                    <div v-for="(street, index) in places">
                        <div v-if="street.name === 'CORNER'" v-for="prop in street.properties">
                            <p v-if="prop.name === 'FREE_PARK'" v-for="player in prop.active_players">
                                {{
                                    player.user.username
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row horizontal-row top-row">
            <div v-for="i in 9" class="space" :class="i !== 2 && i !== 5 && i !== 8 ? 'property' : 'other'">
                <div style="display: none">
                    {{ street = i < 5 ? 4 : 5 }}
                    {{ property = i < 2 ? i - 1 : i < 5 ? i - 2 : i < 8 ? i - 6 : i - 7 }}
                </div>
                <div v-if="i !== 2 && i !== 5 && i !== 8" class="container">
                    <div class="color-bar" :style="{ background: places[street] ? places[street].color : '#000'}"><p
                        v-if="places[street].properties[property].player" class="owner">
                        {{ places[street].properties[property].player.user.username }}</p></div>
                    <div class="name">{{
                            places[street] ? places[street].properties[property] ? places[street].properties[property].name : 'Nog instellen' : 'Nog instellen'
                        }}
                    </div>
                    <div class="price"
                         v-if="places[street] !== undefined && places[street].properties[property] !== undefined">
                        <p v-for="player in places[street].properties[property].active_players"
                           :class="{ here: me.id == player.id && player.property_id == places[street].properties[property].id}">
                            {{
                                player.user.username
                            }}
                        </p>
                    </div>
                </div>
                <div v-if="i === 2">
                    <div class="container">
                        <div class="name">KANS</div>
                        <br>
                        <img style="height: 75px" src="/img/chance.svg"/>
                        <div class="price">
                            <div v-for="(street, index) in places">
                                <div v-if="street.name === 'Chance'" v-for="prop in street.properties">
                                    <p v-if="prop.name === 'Kans 4'" v-for="player in prop.active_players">
                                        {{
                                            player.user.username
                                        }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="i === 5" v-for="street in places">
                    <div v-if="street.name === 'Stations'" v-for="(prop, index) in street.properties">
                        <div v-if="index === 2" class="station container">
                            <div class="color-bar"><p>kut jesse
                                <!--                                v-if="places[street].properties[property].player" class="owner">-->
                                <!--                                {{ places[street].properties[property].player.user.username }}-->
                            </p></div>
                            <div class="name">{{ prop.name }}</div>
                            <i class="drawing fa fa-subway"></i>
                            <div class="price">
                                <p v-for="player in prop.active_players">
                                    {{
                                        player.user.username
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div v-if="i === 8" class="space utility waterworks">-->
<!--                    <div class="container">-->
<!--                        <div class="name">Waterleiding</div>-->
<!--                        <i class="drawing fa fa-tint"></i>-->
<!--                        <div class="price">-->
<!--                            <div v-for="(street, index) in places">-->
<!--                                <div v-if="street.name === 'Voorziening'" v-for="prop in street.properties">-->
<!--                                    <p v-if="prop.name === 'Water'" v-for="player in prop.active_players">-->
<!--                                        {{-->
<!--                                            player.user.username-->
<!--                                        }}-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div v-if="i === 8" v-for="street in places" class="space utility waterworks">
                    <div v-if="street.name === 'Voorziening'" v-for="(prop, index) in street.properties">
                        <div v-if="index === 1" class="voorziening container">
                            <div class="color-bar"><p>
                                <!--                                v-if="places[street].properties[property].player" class="owner">-->
                                <!--                                {{ places[street].properties[property].player.user.username }}-->
                            </p></div>
                            <div class="name">{{ prop.name }}</div>
                            <i class="drawing fa fa-tint"></i>
                            <div class="price">
                                <p v-for="player in prop.active_players">
                                    {{
                                        player.user.username
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space corner go-to-jail">
            <div class="container">
                <img src="/img/goto.svg"/>
                <div class="price">
                    <div v-for="(street, index) in places">
                        <div v-if="street.name === 'CORNER'" v-for="prop in street.properties">
                            <p v-if="prop.name === 'TO_JAIL'" v-for="player in prop.active_players">
                                {{
                                    player.user.username
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row vertical-row right-row">
            <div v-for="i in 9" class="space" :class="i !== 3 && i !== 5 && i !== 8 ? 'property' : 'other'">
                <div style="display: none">
                    {{ street = i < 5 ? 6 : 7 }}
                    {{ property = i < 3 ? i - 1 : i < 5 ? i - 2 : i < 8 ? i - 6 : i - 7 }}
                </div>
                <div v-if="i !== 3 && i !== 5 && i !== 8" class="container">
                    <div class="color-bar" :style="{ background: places[street] ? places[street].color : '#000'}"><p
                        v-if="places[street].properties[property].player" class="owner">
                        {{ places[street].properties[property].player.user.username }}</p></div>
                    <div class="name">{{
                            places[street] ? places[street].properties[property] ? places[street].properties[property].name : 'Nog instellen' : 'Nog instellen'
                        }}
                    </div>
                    <div class="price"
                         v-if="places[street] !== undefined && places[street].properties[property] !== undefined">
                        <p v-for="player in places[street].properties[property].active_players"
                           :class="{ here: me.id == player.id && player.property_id == places[street].properties[property].id}">
                            {{
                                player.user.username
                            }}
                        </p>
                    </div>
                </div>
                <div v-if="i === 3" class="container">
                    <div class="name">KANS</div>
                    <br>
                    <img style="height: 75px" src="/img/chance.svg"/>
                    <div class="price">
                        <div v-for="(street, index) in places">
                            <div v-if="street.name === 'Chance'" v-for="prop in street.properties">
                                <p v-if="prop.name === 'Kans 5'" v-for="player in prop.active_players">
                                    {{
                                        player.user.username
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="i === 5" v-for="street in places">
                    <div v-if="street.name === 'Stations'" v-for="(prop, index) in street.properties">
                        <div v-if="index === 3" class="station-top-fix station container">
                            <div class="color-bar"><p>
                                <!--                                v-if="places[street].properties[property].player" class="owner">-->
                                <!--                                {{ places[street].properties[property].player.user.username }}-->
                            </p></div>
                            <div class="name">{{ prop.name }}</div>
                            <i class="drawing fa fa-subway"></i>
                            <div class="price">
                                <p v-for="player in prop.active_players">
                                    {{
                                        player.user.username
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="i === 8" class="container">
                    <div class="name">KANS</div>
                    <br>
                    <img style="height: 75px" src="/img/chance.svg"/>
                    <div class="price">
                        <div v-for="(street, index) in places">
                            <div v-if="street.name === 'Chance'" v-for="prop in street.properties">
                                <p v-if="prop.name === 'Kans 6'" v-for="player in prop.active_players">
                                    {{
                                        player.user.username
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Axios from 'axios';

export default {
    props: ['user_id'],
    data() {
        return {
            places: 0,
            game: 0,
            property: 0,
            street: 0
        }
    },
    methods: {
        reverse(n) {
            return [...Array(n + 1).keys()].slice(1, n + 1).reverse();
        },
        getData() {
            Axios
                .get('/getdata')
                .then((response) => {
                    this.game = response.data.game;
                    this.places = response.data.places;
                });
        },
        uploadLocation(event) {
            let data = new FormData();
            data.append('type', 'uploadLocation');
            data.append('photo', event.target.files[0]);
            data.append('answerID', event.target.dataset.answer)

            Axios.post("/setdata", data, {
                header: {
                    'Content-Type': 'image/png'
                }
            })
                .then(response => this.getData());
        },
        submitAnswer(event) {
            let data = new FormData();
            data.append('type', 'uploadAnswer');
            data.append('text', event.target.querySelector("[name='text']")?.value);
            data.append('photo', event.target.querySelector("[name='photo']")?.files[0]);
            data.append('answerID', event.target.dataset.answer)

            Axios.post("/setdata", data, {
                header: {
                    'Content-Type': 'image/png'
                }
            })
                .then(response => this.getData());
        }
    },
    mounted() {
        this.getData();
        setInterval(() => {
            this.getData()
        }, 5000);
    },
    computed: {
        me: function () {
            if (this.game !== 0) {
                return this.game.players.find(player => player.user_id == this.user_id) || {id: 0};
            }
            return 0;
        },
    }
}
</script>
