<template>
    <div class="flex flex-col sm:flex-row w-full">
        <div class="w-full sm:w-1/3" v-if="game.status === 'waiting for start'">
            Gebruikers:
            <div v-for="user in users">
                {{ user.username }} - <input :data-user="user.id" type="checkbox" v-model="user.isActive"
                                             @change="setUserStatus">
            </div>
        </div>
        <div class="w-full sm:w-1/3 overflow-x-visible" v-else>
            Players:
            <!--            <div class="flex">-->
            <div v-for="player in game.players">
                <div class="
                overflow-clip flex">
                    <div class="flex-none w-20">
                        {{ player.user.username }}
                    </div>
                    <div class="flex-none mr-2" v-if="game.status === 'started'">
                        <select :data-user="player.id"
                                @change="setPlayerPosition"
                                class="h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline">
                            <option v-for="property in places" :value="property.id"
                                    :selected="player.property_id == property.id">{{ property.name }}
                            </option>
                        </select>
                    </div>
                    <div class="flex-none mr-2" v-if="game.status === 'started'">
                        <!--                        <input type="number" min="-40" max="40" v-if="game.status === 'started'">-->
                        <input
                            class="h-10 pl-2 pr-2 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline"
                            value="0"
                            type="number" min="-40" max="40">
                    </div>
                    <div class="flex-none pb-4 mr-2" v-if="game.status === 'started'">
                        <button @click="movePlayer(player, $event)"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Move
                        </button>
                    </div>
                </div>
            </div>
            <!--            </div>-->
        </div>
        <div class="md:ml-10 w-full sm:w-1/3">
            Status: {{ game.status }}<br>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    v-if="game.status === 'waiting for start'" @click="startGame">
                Start game
            </button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    v-if="game.status === 'started'" @click="endGame">
                Einde game
            </button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    v-if="game.status === 'finished'" @click="makeNewGame">
                Maak nieuwe game
            </button>

            <div>Leaderboard:
                <div v-for="player in game.players">
                    {{player.user.username}} - {{ player.correct_answers.length }}
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/3">
            Antwoorden:
            <div v-for="player in game.players" v-if="player.answers.length">
                {{ player.user.username }}:
                <div v-for="answer in player.answers">
                    <div v-if="answer.location_photo && answer.location_confirm === null">
                        <b>{{ answer.question.property.name }}</b><br>
                        Klopt de locatie?
                        <img width="200" :src="answer.location_photo_path">
                        <button @click="acceptLocation" :data-answer="answer.id" data-data="true"
                                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">V
                        </button>
                        <button @click="acceptLocation" :data-answer="answer.id" data-data="false"
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">X
                        </button>
                    </div>
                    <div v-if="answer.location_confirm && answer.answer">
                        Vraag: {{ answer.question.question }}<br>
                        Klopt het antwoord: <br>
                        <p v-if="!answer.answer_path">{{ answer.answer }}</p>
                        <img v-else width="200" :src="answer.answer_path">
                        <button @click="acceptAnswer" :data-answer="answer.id" data-data="true"
                                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">V
                        </button>
                        <button @click="acceptAnswer" :data-answer="answer.id" data-data="false"
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">X
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Axios from 'axios';

export default {
    data() {
        return {
            users: {},
            game: {},
            places: {},
            leaderboard: {},
        }
    },
    methods: {
        getData() {
            Axios
                .get('/admin/getdata')
                .then((response) => {
                    this.users = response.data.users;
                    this.game = response.data.game;
                    this.places = response.data.places;

                    this.leaderboard = this.game.players;
                    this.leaderboard.sort(function (a,b){
                        return a.correct_answers.length - b.correct_answers.length;
                    }).reverse();
                })
        },
        movePlayer(player, e) {
            const inputField = e.target.parentNode.parentNode.querySelector("[type=number]");
            if (inputField.value === 0) return;
            let newPlayerPos = parseInt(player.property_id) + parseInt(inputField.value);
            inputField.value = "0";
            newPlayerPos = newPlayerPos % 40;
            while (newPlayerPos < 0) {
                newPlayerPos += 40
            }
            player.property_id = newPlayerPos;
            const data = {type: 'setPlayerPosition', playerID: player.id, value: newPlayerPos};
            Axios.post("/admin/setdata", data)
                .then(response => this.getData());
        },
        setUserStatus(e) {
            const data = {type: 'setUserActive', userID: e.target.dataset.user, value: e.target.checked};
            Axios.post("/admin/setdata", data)
                .then(response => this.getData());
        },
        setPlayerPosition(e) {
            const data = {type: 'setPlayerPosition', playerID: e.target.dataset.user, value: e.target.value};
            Axios.post("/admin/setdata", data)
                .then(response => this.getData());
        },
        startGame(e) {
            const data = {type: 'startGame'};
            Axios.post("/admin/setdata", data)
                .then(response => this.getData());
        },
        endGame(e) {
            if (confirm('Weet je zeker dat je het spel wilt beëndigen')) {
                const data = {type: 'endGame'};
                Axios.post("/admin/setdata", data)
                    .then(response => this.getData());
            }
        },
        makeNewGame(e) {
            const data = {type: 'makeNewGame'};
            Axios.post("/admin/setdata", data)
                .then(response => this.getData());
        },
        acceptLocation(e) {
            const data = {type: 'acceptLocation', answerID: e.target.dataset.answer, value: e.target.dataset.data};
            Axios.post("/admin/setdata", data)
                .then(response => this.getData());
        },
        acceptAnswer(e) {
            const data = {type: 'acceptAnswer', answerID: e.target.dataset.answer, value: e.target.dataset.data};
            Axios.post("/admin/setdata", data)
                .then(response => this.getData());
        }
    },
    mounted() {
        this.getData();
        setInterval(() => {
            this.getData();
        }, 2000);
    }
}
</script>
